<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-employee-add" th:action="*{formAction}" th:object="${employee}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <input id="treeId" name="deptId" type="hidden" th:field="*{deptId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font style="color: red;">*</font>编号：</label>
            <div class="col-sm-4">
                <input id="eno" name="eno" th:field="*{eno}" class="form-control required" th:maxlength="32" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font style="color: red;">*</font>姓名：</label>
            <div class="col-sm-4">
                <input id="name" name="name" th:field="*{name}" class="form-control required" th:maxlength="32" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font style="color: red;">*</font>单位：</label>
            <div class="col-sm-8">
                <input class="form-control required" type="text" name="deptName" onclick="selectDeptTree()"
                       readonly="true" id="treeName" th:value="${employee.dept == null ? '' : employee.dept.orgStructure}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">职务：</label>
            <div class="col-sm-8">
                <select id="postId" name="postId" class="form-control m-b" th:each="item, stat:${@tag.getTagList('ryzw')}">
                    <option value="">请选择</option>
                    <option th:each="item : ${stat.current.value}" th:text="${item.name}" th:value="${item.code}" th:field="*{postId}"></option>
                </select>
                <!--<input id="postId" name="postId" th:field="*{postId}" class="form-control" type="text">-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8">
                <input id="mobile" name="mobile" th:field="*{mobile}" class="form-control isPhone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font style="color: red;">*</font>账号状态：</label>
            <div class="col-sm-8" style="margin-top: 8px;">
                <div class="onoffswitch">
                    <input id="status" type="checkbox" th:checked="${employee.status == '0' ? true : false}" class="onoffswitch-checkbox">
                    <label class="onoffswitch-label" for="status">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                    <input type="hidden" name="status" th:value="${employee.status}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-3">
                <input id="orderNum" name="orderNum" th:field="*{orderNum}" class="form-control digits" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var formAction = ctx + [[${employee.formAction}]];

    $("#form-employee-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        errorPlacement: function (error, element) {
            error.appendTo(element.parent())
        }
    });

    /*用户管理-修改-选择部门树*/
    function selectDeptTree() {
        var deptId = $.common.isEmpty($("#treeId").val()) ? "100" : $("#treeId").val();
        if (deptId == '-1'){
            deptId = "100";
        }
        console.log(deptId)
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择单位/部门',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            var status = $("#status").is(':checked') == true ? 0 : 1;
            $("input[name='status']").val(status);
            $.operate.save(formAction, $('#form-employee-add').serialize());
        }
    }
</script>
</body>
</html>
