<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <h1>统一身份认证平台-userIndex</h1>
    <h3>[[${currentUser.userName}]]，你好
        <a href="/confirm" target="_blank" style="margin-left: 30px;">模拟APP扫码登录</a>
        <a href="/logout" style="margin-left: 30px;">退出</a>
    </h3>
    <ul>
        <li th:each="client : ${clientList}" class="client" th:data-client-id="${client.clientId}"><a href="javascript:;">[[${client.clientName}]]</a> </li>
    </ul>
    <script>

        $('.client').click(function () {
            var clientId = $(this).data('client-id');
            var redirect_uri = '';
            $.ajax({
                url: "/auth_direct",
                type: "POST",
                dataType: "json",
                async: false,
                data: {
                    "client_id": clientId
                },
                success: function (data) {
                    if (data.code == "200") {

                        if (data.redirect_uri != null) {
                            redirect_uri = data.redirect_uri;
                        } else {
                            alert('参数错误！请联系管理员');
                        }
                    } else {
                        alert('参数错误！请联系管理员');
                    }
                }
            });
            if (redirect_uri != '') {
                window.open(redirect_uri);
            }
        })
    </script>
</body>
</html>