<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								登录状态：<select name="status" th:with="type=${@dict.getType('sys_common_status')}">
                                             <option value="">所有</option>
                                             <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                         </select>
							</li>
<!--							<li>-->
<!--								登录时间：<input type="text" name="loginTime"/>-->
<!--							</li>-->
                            <li class="select-time">
                                <label>登录时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="登录时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
							<li>
								关键字：<input type="text" name="params[keyword]" placeholder="系统名称/登录账号/来源主机"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset(); $.table.search()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
<!--				<a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="system:authAccessLog:add">-->
<!--					<i class="fa fa-plus"></i> 添加-->
<!--&lt;!&ndash;				</a>&ndash;&gt;-->
<!--				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.editFull()" shiro:hasPermission="system:authAccessLog:edit">-->
<!--					<i class="fa fa-edit"></i> 修改-->
<!--				</a>-->
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:authAccessLog:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
<!--				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:authAccessLog:export">-->
<!--						<i class="fa fa-download"></i> 导出-->
<!--				 </a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:authAccessLog:editFull')}]];
        var removeFlag = [[${@permission.hasPermi('system:authAccessLog:remove')}]];
        var prefix = ctx + "system/authAccessLog";
		var datas = [[${@dict.getType('sys_common_status')}]];
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "客户端访问日志",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
					{
						field : 'clientName',
						title : '系统名称',
						sortable: true
					},

				{
					field : 'loginName', 
					title : '登录账号',
					sortable: true
				},
				{
					field : 'ipAddr', 
					title : '来源主机',
					sortable: true
				},
				{
					field: 'status',
					title: '登录状态',
					width: '10%',
					align: "left",
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(datas, row.status);
					// 	var actions=[];
					// 	$.each(datas,function (index,lay) {
					// 		if(lay.dictValue==(''+value)){
					// 			actions.push ($.common.sprintf("<span class=\"badge badge-danger\">%s</span>" ,lay.dictLabel));
					// 			return false;
					// 		}
					//
					// 	})
					// 	return actions.join('');
					}
				},
				{
					field : 'loginTime', 
					title : '登录时间',
					sortable: true
				},

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	// actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>