<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>


<body class="white-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">

    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">Http、邮件</li>
            <li>二维码、条码</li>
            <li>Redis操作</li>
            <li>word、excel、pdf</li>
            <li>上传、下载</li>
            <li>工作日demo</li>
        </ul>

        <div class="layui-tab-content">

            <!--Http、邮件-->
            <div class="layui-tab-item layui-show">

                <form class="form-horizontal m" id="form-demo-http">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-title">
                                    <h5>邮件测试
                                        <small>使用hutool，通过Ajax请求</small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">邮箱地址</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="mailto" id="mailto" class="form-control"
                                                   placeholder="邮箱地址">
                                            <span class="help-block m-b-none">邮箱地址为空，默认发送至fei.yu@51e.com.cn</span>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">邮件内容</label>
                                        <div class="col-sm-10">
                                            <textarea id="mailtext" name="mailtext" class="form-control"
                                                      rows="10"></textarea>
                                        </div>
                                    </div>

                                    <div class="mail-body text-right tooltip-demo">
                                        <a onclick="sendMail()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 发送（Ajax）</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--二维码、条码-->
            <div class="layui-tab-item">

                <form class="form-horizontal m" id="form-demo-code">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-title">
                                    <h5>二维码
                                        <small>使用hutool，生成在D:\ruoyi目录下</small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">二维码内容</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="qrcode" id="qrcode" class="form-control"
                                                   placeholder="二维码内容">
                                            <span class="help-block m-b-none">二维码内容为空，默认发送至www.baidu.com</span>
                                        </div>
                                    </div>

                                    <div class="mail-body text-right tooltip-demo">
                                        <a onclick="createQRCode()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 生成（Ajax）</a>
                                        <a onclick="checkQRCode()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 识别（读取二维码图片中内容）</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Redis操作-->
            <div class="layui-tab-item">

                <form class="form-horizontal m" id="form-demo-redis">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">

                                <div class="ibox-title">
                                    <h5>Redis
                                        <small>本实例默认过期时间为15s</small>
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="ibox-content">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">key</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="key" id="redisKey" class="form-control"
                                                   placeholder="key">
                                        </div>
                                        <label class="col-sm-2 control-label">value</label>
                                        <div class="col-sm-4">
                                            <input type="text" name="value" id="redisValue" class="form-control"
                                                   placeholder="value">
                                        </div>
                                    </div>

                                    <div class="mail-body text-right tooltip-demo">
                                        <a onclick="saveRedis()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 存入redis</a>
                                        <a onclick="getRedis()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 获取指定key的值</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--word、excel、pdf-->
            <div class="layui-tab-item">

                <form class="form-horizontal m" id="form-demo-file">
                    <div class="row">
                        <div class="col-sm-12">
                            <a onclick="createPDF()" class="btn btn-sm btn-primary" data-toggle="tooltip"
                               data-placement="top" title="Send"><i class="fa fa-reply"></i> PDF生成（Ajax）</a>
                            <a onclick="createWord()" class="btn btn-sm btn-danger" data-toggle="tooltip"
                               data-placement="top" title="Send"><i class="fa fa-reply"></i> 生成Word（Ajax）</a>
                            <a onclick="createExcel()" class="btn btn-sm btn-success" data-toggle="tooltip"
                               data-placement="top" title="Send"><i class="fa fa-reply"></i> 生成Excel（Ajax）</a>
                        </div>
                    </div>
                </form>
            </div>

            <!--上传、下载-->
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>单文件上传</legend>
                </fieldset>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" data-toggle="fileupload" data-multiple="false" value="" data-back-type="no"
                               data-btn-text="上传文件"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>多文件上传</legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" data-toggle="fileupload" data-multiple="true" value=""
                               data-btn-text="上传文件（多个）"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>图片上传</legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" data-toggle="fileupload" data-multiple="false" value="" data-back-type="no"
                               data-btn-text="" data-accept="image"/>
                    </div>
                </div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>多图片上传</legend>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="hidden" data-toggle="fileupload" data-multiple="true" value="" data-back-type="no"
                               data-btn-text="" data-accept="image"/>
                    </div>
                </div>
            </div>

            <!--工作日demo-->
            <div class="layui-tab-item">

                <form class="form-horizontal m" id="form-demo-workday">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <ul>
                                    <li class="select-time">
                                        <label>起止时间： </label>
                                        <input data-toggle="date" data-type="date" id="startTime" style="width: 120px"/>
                                        <span>-</span>
                                        <input data-toggle="date" data-type="date" id="endTime" style="width: 120px"/>
                                    </li>
                                    <li>
                                        <a onclick="doSearchWorkDayCount()" class="btn btn-sm btn-primary"
                                           data-toggle="tooltip" style="margin-left: 10px"
                                           data-placement="top" title="Send"><i class="fa fa-reply"></i> 查询工作日</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal m" id="form-demo-workdayNums">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <ul>
                                    <li class="select-time">
                                        <label>开始时间： </label>
                                        <input data-toggle="date" data-type="date" id="oldTime" style="width: 120px"/>
                                        <label>N个工作日: </label>
                                        <input type="text" name="nums" id="nums" class="form-control"
                                               placeholder="工作日" style="width: 120px">
                                        <a onclick="doSearchEndTime()" class="btn btn-sm btn-primary"
                                           data-toggle="tooltip"
                                           data-placement="top" title="Send" style="margin-left: 10px"><i
                                                class="fa fa-reply"></i> 查询具体日期</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<div th:include="include::footer"></div>

<script type="text/javascript">

    function doSearchEndTime() {
        var url = ctx + "demo/all/searchWorkDay?oldTime=" + $("#oldTime").val() + "&num=" + $("#nums").val();
        $.post(url, function (result) {
            $.modal.alert(result.msg);
        });

    }

    function doSearchWorkDayCount() {
        var url = ctx + "demo/all/searchWorkDayCount?startTime=" + $("#startTime").val() + "&endTime=" + $("#endTime").val();
        $.post(url, function (result) {
            $.modal.alert(result.msg);
        });
    }

    function sendMail() {
        var url = ctx + "demo/all/sendMail";
        $.operate.post(url, $("#form-demo-http").serialize());
    }

    function createQRCode() {
        var url = ctx + "demo/all/createQRCode";
        $.operate.post(url, $("#form-demo-code").serialize());
    }

    function checkQRCode() {
        var url = ctx + "demo/all/checkQRCode";
        $.operate.get(url);
    }

    function createPDF() {
        var url = ctx + "demo/all/createPDF";
        $.operate.post(url, $("#form-demo-redis").serialize());
    }

    function createWord() {
        var url = ctx + "demo/all/createWord";

        $.post(url, $("#form-demo-http").serialize(), function (result) {
            if (result.code == web_status.SUCCESS) {
                window.location.href = ctx + "common/download?fileName=" + result.msg + "&delete=" + true;
            } else {
                $.modal.alertError(result.msg);
            }

        });

        //$.operate.get(url);
    }

    function createExcel() {
        var url = ctx + "demo/all/createExcel";
        $.operate.post(url, $("#form-demo-redis").serialize());
    }

    function saveRedis() {
        var url = ctx + "demo/all/saveRedis";
        $.operate.post(url, $("#form-demo-redis").serialize());
    }

    function getRedis() {
        var redisKey = $('#redisKey').val();
        if ($.common.isEmpty(redisKey)) {
            $.modal.alertError("请填写key值!");
            return;
        }
        var url = ctx + "demo/all/getRedis/" + redisKey;
        $.operate.get(url);
    }


    $("#test").bsSuggest('init', {
        clearable: true,
        // showHeader: true, //显示 header
        // showBtn: false, //不显示下拉按钮
        url: "/json/data.json",
        idField: "userId",
        keyField: "userName"
    }).on('onDataRequestSuccess', function (e, result) {
        console.log('onDataRequestSuccess: ', result);
    }).on('onSetSelectValue', function (e, keyword, data) {
        console.log('onSetSelectValue: ', keyword, data);
    }).on('onUnsetSelectValue', function () {
        console.log('onUnsetSelectValue');
    }).on('onShowDropdown', function (e, data) {
        console.log('onShowDropdown', e.target.value, data);
    }).on('onHideDropdown', function (e, data) {
        console.log('onHideDropdown', e.target.value, data);
    });


</script>

</body>
</html>
