<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label"><font color="red">*</font>客户端名称：</label>
            <div class="col-sm-8">
                <label class="control-label" style="float: left" th:text="${authClientDetails.clientName}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">客户端ID：</label>
            <div class="col-sm-8">
                <label class="control-label" style="float: left" th:text="${authClientDetails.clientId}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">客户端密钥：</label>
            <div class="col-sm-8">
                <label class="control-label" style="float: left" th:text="${authClientDetails.clientSecret}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">回调地址：</label>
            <div class="col-sm-8">
                <label class="control-label" style="float: left" th:text="${authClientDetails.redirectUri}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font color="red">*</font>接入方式：</label>
            <div class="col-sm-8">
                <div class="control-label" style="float: left">
                    <span class="badge" th:if="${#strings.contains(authClientDetails.scope, '1')}">授权码</span>
                    <span class="badge" th:if="${#strings.contains(authClientDetails.scope, '2')}">密码</span>
                    <span class="badge" th:if="${#strings.contains(authClientDetails.scope, '3')}">扫码</span>
                </div>
                <!--<label th:each="item:${@dict.getType('client_access_mode')}" class="check-box">
                    <input name="scope" type="checkbox" th:value="${item.dictValue}" th:text="${item.dictLabel}"
                           th:checked="${ #strings.isEmpty(authClientDetails.scope) ? false : #strings.contains(authClientDetails.scope, item.dictValue)}">
                </label>-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><font color="red">*</font>状态：</label>
            <div class="col-sm-8">
                <label class="control-label" style="float: left" th:text="${@dict.getLabel('sys_normal_disable', authClientDetails.status)}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">描述信息：</label>
            <div class="col-sm-8">
                <textarea class="form-control" readonly th:text="${authClientDetails.description}"></textarea>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "auth/authClientDetails"
    $("#form-authClientDetails-add").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        errorPlacement: function (error, element) {
            error.appendTo(element.parent())
        }
    });

</script>
</body>
</html>
